head{
	background:white;
}

header{
	padding: 70px;
	background:white;
}
        
con {
	background: white;
}
body {
  height: 100px;
  margin-right: 50px;
  margin-left: 50px;
  background-color:grey;
  text-align:center;
}

 title {
	 
	 text-align:center;
}
	 


h1 {
  font-family: Times New Roman;
  font-size: 40px;
  color: Black;
	text-align:center;
}
h2 {
    color: Black;
    font-family: Times New Roman;
}
 h3{
	color: Black;
    font-family: Times New Roman; 
}
.charlie {
	margin-right: 150px;
	margin-left: 150px;
}
li {
  font-family: Serif;
  font-size: 25x;
  color: white;
  text-align:center;
  list-style-postion: inside;
}

div{
	text-color:white;
}

	
}
p {
 font-family: Arial;
 color: white;
	text-align:center;
	 }	 
footer{
	padding: 70px;
	background-color: white ;
}
.centerlist{
	text-align:center;
}
.centerlist > ul{
	display: inline-block
}

a: link {
	
}

a:visited{
	
}

a:hover {
	
	
}
a:active{
	
}
