head{
	background-color:purple;
}

header{
	background-color:purple;
}
        

body {
  background-color:grey;
  text-align:center;
}

 title {
	text-align:center;
}
	 


h1 {
  font-family: Times New Roman;
  font-size: 40px;
  color: Black;
	text-align:center;
}
 
li {
  font-family: Serif;
  font-size: 25x;
  color: white;
  text-align:center;
  list-style-postion: inside;
}
	

	
}
p {
 font-family: Arial;
 color: white;
	text-align:center;
	 }	 
footer{
	background-color: purple;
}
 
