

head, header {
  background-color: white;
}


con {
  background-color: white;
}

body {
  height: 100px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: grey;
  text-align: center;
}


title {
  text-align: center;
}


h1 {
  font-family: Times New Roman;
  font-size: 40px;
  color: black;
  text-align: center;
}


h2 {
  font-family: Times New Roman;
  font-size: 25px;
  color: black;
}


h3 {
  font-family: Times New Roman;
  font-size: 20px;
  color: black;
}


.charlie {
  margin-right: 150px;
  margin-left: 150px;
}


li {
  font-family: Serif;
  font-size: 25px;
  color: white;
  text-align: center;
  list-style-position: inside;
}


div {
  color: white;
}


p {
  font-family: Arial;
  color: white;
  text-align: center;
}


footer {
  padding: 70px;
  background-color: white;
}


.centerlist {
  text-align: center;
}


.centerlist > ul {
  display: inline-block;
}


a:link, {
  text-color: Black;
  text-decoration: none;
}
a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
}


a:active {
  color: red;
}
